.wrapper {
  width: 100%;
  padding-bottom: 85px;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
  margin-bottom: 45px;
}
.title_container {
  width: 100%;
  margin: 50px 0px;
}

.title {
  text-align: left;
  font-size: 35px;
  font-weight: 600;
  color: #2d2d2d;
}

.description_wrapper {
  width: 100%;
  line-height: 40px;
  width: 708px;
}

.description {
  font-weight: 400;
  color: #353535;
  font-size: 16px;
}

.keep_up_card {
  width: 380.4px;
  display: inline-block;
  margin-right: 60px;
}

.keep_up_card_image_container {
  width: 100%;
}
.keep_up_card_text_container {
  width: 100%;
}

.keep_up_card_text {
  font-style: normal;
  font-weight: 600;
  font-size: 18.1296px;
  text-align: left;
}

.cards_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 53px; */
}

.articles_card,
.photography {
  width: 48%;
  height: 540px;
}

.articles_card {
  background-color: #343f71;
  position: relative;
  display: inline-block;
}

.articles_card_img {
  width: 80%;
  height: 409px;
  right: -19.5%;
  position: relative;
  top: 60px;
}

.articles_text {
  z-index: 1;
  position: absolute;
  width: 288px;
  top: 9%;
  left: 40px;
  color: #ffff;
  font-size: 64px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.05em;
}

.articles_btn {
  position: relative;
  z-index: 9;
  padding: 5px 3px;
  border: none;
  outline: none;
  background-color: #ffff;
  color: #343f71;
  font-size: 24px;
  font-weight: 600;
  left: 50%;
  top: 30px;
  width: 146px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
.articles_btn:hover {
  background-color: #606fb2;
  color: #fff;
}

.star {
  width: 34px;
  height: 34px;
  z-index: 9;
  position: absolute;
  left: 40px;
  top: 30px;
}

.one,
.two,
.three,
.four,
.five {
  position: relative;
}

.one {
  left: 14px;
  top: -30px;
}

.two {
  position: absolute;
  left: 50px;
  bottom: -2px;
}

.three {
  left: 50px;
  top: 10px;
}

.four {
  left: 120px;
  top: 40px;
}

.five {
  top: 40px;
  left: 50%;
}
.photography {
  position: relative;
}
.photography img {
  object-fit: cover;
  width: 100%;
}
.photography_text {
  font-weight: 800;
  font-size: 48px;
  color: #ffff;
  position: relative;
  z-index: 1;
  top: -27%;
  left: 40px;
}

/* Media query */


@media only screen and (max-width: 768px) {
  .title {
    font-size: 33px;
  }
  .description_wrapper {
    width: auto;
  }
  .description {
    font-size: 16px;
  }
  .cards_container {
    flex-direction: column;
    gap: 40px;
  }
  .articles_card,
  .photography {
    width: 100%;
    overflow: hidden;
  }
  .articles_text {
    font-size: 33px;
  }
  .photography img {
    width: 100%;
  }
  .photography_text {
    font-size: 33px;
    top: 76%;
    position: absolute;

  }
  .one,.two,.three,.four,.five{
    display: none;
  }
  .articles_card,.photography{
    height: 380px;
  }
  .articles_card_img{
    right: 0px;
    width: 100%;
    position: relative;
    height: 130px;
    object-fit: cover;
    top: inherit;
    bottom: -70%
  }
  .articles_btn {
    top: auto;
    bottom: -50%;
  }
}