.marquee_container {
  margin-top: 250px;
  margin-bottom: 90px;
  width: 1589px;
  position: relative;
  height: 123px;
}

.keep_up_marquee_container {
  margin-top: 120px;
  margin-bottom: 90px;
  width: 1589px;
  left: -400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 385px;

}
